<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/index.css">
    <link rel="stylesheet" href="resources/css/fix.css">
        <link rel="stylesheet" href="resources/css/cuentas.css">

</head>
<body>
    <header class="header">
    <h3 class="alltitle">TODAS LAS CUENTAS</h3>


    </header>

    <div class="container">
        

    
    
        <div class="totalcuentas">
            <h4  class="bgpurple">CUENTAS</h4>
            
        </div>

       
        <div class="card">
            <div class="alinear">
                <h2 class="account-name">Card</h2>
                <div class="containerBtn">
                    <button class="btnAdd">Add money to card</button>
                </div>
            </div>
            
        
            <div class="balance-container">
                <p class="balance-label">Amount:</p>
                <% if(datos!="undefined" ) {%>
                    <% if(intcard>0){ %>
                        <p class="balance-amount" style="color: #0da10d;">
                            <%= datos.card %>$
                        </p>
                        <% }else{ %>
                            <p class="balance-amount" style="color: red;">
                                <%= datos.card %>$
                            </p>
                            <% } %>
                                <%}else{ %>
        
                                    <p class="balance-amount">
                                        0$
                                    </p>
        
                                    <% } %>
            </div>
        
        
        </div>

        <div class="card">
            <div class="alinear">
                <h2 class="account-name">Cash</h2>
                <div class="containerBtn">
                    <button class="btnAdd">Add money to cash</button>
                </div>
            </div>
            
            <div class="balance-container">
                <p class="balance-label">Amount:</p>
                <% if(datos!="undefined" ) {%>
                    <% if(intcash>0){ %>
                        <p class="balance-amount" style="color: #0da10d;">
                            <%= datos.cash %>$
                        </p>
                        <% }else{ %>
                            <p class="balance-amount" style="color: red;">
                                <%= datos.cash %>$
                            </p>
                            <% } %>
                                <%}else{ %>
                
                                    <p class="balance-amount">
                                        0$
                                    </p>
                
                                    <% } %>
            </div>
            
            
        </div>
        
       

       



      
    </div>

    <nav class="naav">
        <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="">Cuentas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/categorias">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/transactions">Transacciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Resumen</a>
        </li>
    </ul></nav>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>