<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion App</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="resources/css/index.css">
    <link rel="stylesheet" href="resources/css/categoria.css">
        <link rel="stylesheet" href="resources/css/resumen.css">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <h3 class="alltitle">Resumen</h3>


    </header>

        <div class="container">


            <form id="formEnviar" class="calendario" action="/transactions" method="post">
                
                        <button type="button" data-toggle="modal" data-target="#cardModal" class="btnAdd">Add money to card</button>

            </form>




        </div>

        <div>
        
        
            <!-- Modal CARD -->
            <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form action="/" method="post">
                        <div class="modal-content">
                            
                            <div class="modal-body">
                                <div>
                                    <label for="method">About:</label>
                                    <select name="about" id="method">
                                        <option value="Gift">Gift</option>
                                        <option value="Salary">Salary</option>
                                        <option value="Other">Other</option>
        
                                    </select>
                                    <input type="text" class="accountname" name="accountname" value="card">
                                </div>
        
                                <div>
                                    <label for="">To add:</label>
                                    <input type="number" name="inputcard" id="" placeholder="3500">$
                                </div>
                                <div>
                                    <label for="">Note:</label><br>
                                    <textarea name="note" id="" cols="35" rows="2" placeholder=" ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="save" class="btn btn-primary">Save
                                    changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
        </div>


    <nav class="naav">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">Cuentas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/transactions">Transacciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Resumen</a>
            </li>
        </ul>
    </nav>



</body>

</html>
<script>
    fecha_actual.addEventListener("change", () => {
            formEnviar.submit()
           
        })
</script>
<script src="resources/js/modales.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>