.naav {
    font-size: 24px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
}

.imagensvg{
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    width: 10%;
    height: 10%;
    padding: 20px;
    background-color: aqua;
    
}
.iconomodal{
    width: 80px;
    height: 80px;
    margin-left: 60%;
    position: relative;;
        float: right;

}

h4{
    text-transform:capitalize;
}

.categorias{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
