.naav {
    font-size: 24px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
}




h4{
    text-transform:capitalize;
}
h3{
background-color: #6E1CBB;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 90 90'%3E%3Ccircle fill='%23431172' cx='45' cy='45' r='17'/%3E%3Cg fill='%23636363' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='11'/%3E%3Ccircle cx='90' cy='90' r='11'/%3E%3Ccircle cx='90' cy='0' r='11'/%3E%3Ccircle cx='0' cy='0' r='11'/%3E%3C/g%3E%3C/svg%3E");    border-radius: 10px;
}
.categorias{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

/* CARDS */
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 3px auto;
    width: 200px;
    height: 160px;
    font-weight: 700;
    -webkit-text-stroke: 0.8px black;
    border-radius: 40px;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.25), -5px -5px 15px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    margin-top: -100px;
    height: 40px;
}

.card:hover {
        border: 7px white solid;
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 20px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.container{
    margin-top: 0px;
    padding: 0;
    padding-bottom: 100px;
}