.modal-content{
    border: 3px solid rgb(138, 43, 226);
    border-radius: 16px;
    width: 100%;
    margin-top: 10%;
    height: 80vh;
    font-family: 'Raleway', sans-serif;
}
.modal-header{
    background: rgb(138, 43, 226);
        border-radius: 13px;
        padding: 10px;
}

.modal-footer{
    background: rgb(138, 43, 226);
    border-radius: 13px;
}

.modal-header h5{
    color: white;
    font-size: 30px;
}

.iconomodal {
    width: 120px;
    height: 100px;
    margin-left: 20%;
    position: relative;
    
    float: left;
    border: 0.5 solid rgba(0, 0, 255, 0);
    border-radius: 50%;
    margin: 0 0px 0 0px;
    padding: 0;

}

.modal-body div{
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}
.btn-secondary{
    background-color: rgb(134, 15, 15);
    border-color:rgb(124, 14, 14);
}
.btn-secondary:hover {background-color: rgb(209, 0, 0);}

.btn-primary{
    background-color:rgb(92, 14, 165);
        border-color: rgb(96, 16, 172);
}

.btn-primary:hover {
    background-color: rgb(143, 23, 255);
        border-color: rgb(145, 28, 255);
}

.modal-title{
    margin-left: 35%;
}