


.cuadricula {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    

}
.box {
    border: 3px solid black;
        background-color: #8647C1;   
         padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
}

.modal-content,.cuadricula{
        background-color: #4b1979;}

.modal-content{
    text-align: center;
    color: white;
    height: 410px;
    width: 440px;
    border-radius: 20px;
}

.btnAdd{
    background-color: #4b1979;
    border-radius: 30px;
    border: #4b1979 1px solid;
    color: white;
    padding:  3px 15px;
}

.btnAdd:hover{
    transition: 0.4s;
    scale: 1.02 1;
    background-color: #6e28af;
        border: #4b1979 1px solid;
}

.box:hover{
    background-color: #2f104d;
    cursor: pointer;
    transition: 0.5s;
        scale: 1.04 1.04;

}
.box:active{
    transition: 0.2s;
        scale: 0.9 0.9;
}

#dayContent{
    top: 20vh;
    font-size: 23px;
    height: 150px;
        border: black 3px solid;
}

.modal-title{
    font-size: 26px;
}

.grafico{
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
#diagrama{
    background-color: rgba(255, 255, 255, 0.616);
    
}

#yearInput{
    width: 60%;
    font-size: 46px;
}

.modal-footer{
    height: 300px;
}