<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/login/login.css">
</head>

<body>



    <form action="/auth" method="POST">
        <h1><span>You are registered!</span></h1>
        <h1> Click on purple button to log in</h1>


        <button type="submit" class="btn"><a class="white" href="/login">Log In</a></button>
        <h6>Neat people like you are always welcome.</h6>

    </form>

    <footer>
        <h5>it's time of a order life</h5>
    </footer>

</body>

</html>